.span {
  color: #28a745;
  width: 166px;
  height: 22px;
  border: 2px solid #28a745;
  border-radius: 8px;
  padding: 8px;
  gap: 10px;
  font-family: "Vazir";
  text-decoration: none;
  display: flex;
  
  
}
.FaUser {
  margin: 2px auto;
  margin-right: 20px;
  
}

.span p {
    margin: auto;
    text-decoration: none;
    margin-left: 30px;
}