.passengerInfo {
  width: 865px;
  height: 228px;
  border-radius: 10px;
  border: 1px solid #00000033;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 23px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Vazir";
}

.titleBox {
  display: flex;
  flex-direction: row;
  margin-right: 23px;
  align-items: center;
}
.title {
  margin-right: 5px;
}
.inputTop {
  display: flex;
  gap: 20px;
}

.controller {
  position: relative;
}

.calendarContainer {
  position: absolute;
  z-index: 10;
  margin-top: 5px;
}

.input {
  width: 262px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #7d7d7d;
  padding-right: 15px;
}

.input::placeholder {
  color: #7d7d7d;
}
